---
// TinaCMS Admin Page
// This page loads the TinaCMS admin interface
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TinaCMS Admin</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="module">
      // Redirect to the TinaCMS admin interface
      window.location.href = '/admin/index.html';
    </script>
  </body>
</html>
